body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#gameArea {
    position: relative;
    width: 900px;
    height: 400px;
    border: 2px solid #fff;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #14e930cc;
}

#paddle1 {
    left: 0;
    top: 160px;
}

#paddle2 {
    right: 0;
    top: 160px;
}

#ball {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #e21111;
    left: 392.5px;
    top: 192.5px;
    border-radius: 50%;
}